.env
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.pytest_tmp/
.streamlit/*
!.streamlit/config.toml
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
